body {
	background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/113/636/original/bg_vector.png?1706996427);
	background-size: cover;
	height: 100vh;
	max-width: 100%;
	background-repeat: no-repeat;
	background-color: #b4d4ff;
}

.main-container {
	display: flex;
	flex-direction: column;
	border: 3px solid #b4d4ff;
	background-color: white;
	border-radius: 10px;
	padding: 20px;
	max-width: 740px;
	margin: 0 auto;
	margin-top: 30px;
}

.title {
	margin-bottom: 7px;
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	color: #6771b4;
}

.change-city {
	position: relative;
	padding: 20px 190px 20px 20px;
}

.city-box {
	font-size: 15px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #f7faff;
	width: 340px;
	height: 45px;
	font-family: "Poppins", sans-serif;
}

.search-button {
	font-size: 17px;
	border: 1px solid #6771b4;
	background-color: #7784d8;
	height: 44px;
	width: 75px;
	color: white;
	border-radius: 5px;
	padding: 6px 10px;
}

hr {
	width: 95%;
}

h1 {
	font-size: 56px;
}

.weather-text {
	font-size: 19px;
	margin-top: 8px;
}

.current-weather {
	display: flex;
	justify-content: space-between;
	padding: 5px 20px;
	padding-bottom: 10px;
	font-family: "Poppins", sans-serif;
}

.left-info {
	position: relative;
	width: 380px;
}

.right-info {
	display: flex;
}

.weather-app-emoji {
	width: 77px;
	height: 77px;
	margin-top: 33px;
	bottom: 50px;
}

.current-temperature {
	font-size: 55px;
	font-weight: 600;
	padding-top: 35px;
}

.celsius-unit {
	position: relative;
	top: 10px;
	font-size: 20px;
	padding-top: 35px;
}

small {
	font-size: 20px;
}

.weather-forecast {
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
	margin-bottom: 20px;
	font-family: "Poppins", sans-serif;
}

.forecast-day {
	background-color: #f7faff;
	justify-content: space-evenly;
	width: 120px;
	height: 121px;
	border-radius: 5px;
}

.forecast-day:hover {
	box-shadow: 2px 5px 6px rgb(199, 199, 199);
	color: black;
}

.forecast-date {
	text-align: center;
	font-size: 19px;
}

.forecast-icon {
	width: 48px;
	height: 48px;
	display: block;
	margin: 0 auto;
}

.forecast-temps {
	display: flex;
	text-align: center;
	justify-content: center;
}

.forecast-temp {
	font-weight: bold;
}

footer {
	font-size: 16px;
	padding: 8px;
	text-align: center;
	font-family: "Poppins", sans-serif;
}
